p{  
    border: 10px solid transparent;  
    padding: 15px;  
    text-align:center;  
    font-size: 25px;  
    color: darkviolet;  
    }  
      
    #border {  
    border-image: url('diamond.png') 40 round stretch;  
      
    }  
    #border1 {  
    border-image: linear-gradient(orange, yellow, green) 40 / 30px 10px  stretch;  
      
    }  
    #border2 {  
    border-image: repeating-linear-gradient(50deg, blue, yellow, lightgreen 20px) 30 / 20px 30px round;  
      
    }  