p{  
    border: 4px solid blue;  
    background-color: lightblue;  
    font-size: 20px;  
    }  
    #px {  
    min-height: 50px;  
    }  
    #em {  
    min-height: 6em;  
      
    }  
    #pt {  
    min-height: 130pt;  
      
    }  
    #cm {  
    min-height: 5cm;  
      
    }  